<div id="<%= dom_id stock %>">
  <p>
    <strong>Id:</strong>
    <%= stock.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stock.name %>
  </p>

  <p>
    <strong>Ticker:</strong>
    <%= stock.ticker %>
  </p>

  <p>
    <strong>Happened at:</strong>
    <%= stock.happened_at %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= stock.total_value %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock.quantity %>
  </p>

</div>
